local_backend: true

backend:
  name: git-gateway
  branch: master
  #repo: jakmar17/MajskeIgre
  identity_url: "https://majske-igre.netlify.app/.netlify/identity"
  gateway_url: "https://majske-igre.netlify.app/.netlify/git"

media_folder: public/img
public_folder: /img

collections:
  - name: "majskeIgre"
    label: "Majske igre"
    format: "json"
    files:
      - name: "eventDescription"
        label: "Predstavitev dogodka (začetna stran)"
        format: "json"
        file: "content/descriptions/event.json"
        create: true
        slug: "{{slug}}"
        fields:
          - label: "Predstavitev dogodka"
            name: "description"
            widget: "markdown"
          - label: "Krajši opis športa"
            name: "sportDescription"
            widget: "markdown"
          - label: "Slika športa"
            name: "sportImage"
            widget: "image"
          - label: "Krajši opis zabave"
            name: "concertDescription"
            widget: "markdown"
          - label: "Slika zabave"
            name: "concertImage"
            widget: "image"
          - label: "Krajši opis kulture"
            name: "cultureDescription"
            widget: "markdown"
          - label: "Slika kulture"
            name: "cultureImage"
            widget: "image"
          - label: "Organizator"
            name: "organizer"
            widget: "markdown"
          - label: "Krajši opis organizacijske ekipe"
            name: "teamDescription"
            widget: "markdown"
          - label: "Slika organizacijske ekipe"
            name: "teamImage"
            widget: "image"
      - label: "Predstavitev športa"
        name: "sportDescription"
        format: "json"
        file: "content/descriptions/sport.json"
        create: true
        slug: "{{slug}}"
        fields:
          - label: "Predstavitev športa"
            name: "description"
            widget: "markdown"
          - label: "Naslovna slika"
            name: "coverImage"
            widget: "image"
          - label: "Prikaži spored"
            name: "showSchedule"
            widget: "boolean"
            default: true
          - label: "Dodatne informacije"
            name: "additionalInfo"
            widget: "markdown"
            required: false
      - label: "Predstavitev zabave"
        name: "concertDescription"
        format: "json"
        file: "content/descriptions/concert.json"
        create: true
        slug: "{{slug}}"
        fields:
          - label: "Predstavitev zabave"
            name: "description"
            widget: "markdown"
          - label: "Naslovna slika"
            name: "coverImage"
            widget: "image"
          - label: "Prikaži spored"
            name: "showSchedule"
            widget: "boolean"
            default: true
          - label: "Dodatne informacije"
            name: "additionalInfo"
            widget: "markdown"
            required: false
      - label: "Predstavitev kulture"
        name: "cultureDescription"
        format: "json"
        file: "content/descriptions/culture.json"
        create: true
        slug: "{{slug}}"
        fields:
          - label: "Predstavitev kulture"
            name: "description"
            widget: "markdown"
          - label: "Naslovna slika"
            name: "coverImage"
            widget: "image"
          - label: "Prikaži spored"
            name: "showSchedule"
            widget: "boolean"
            default: true
          - label: "Dodatne informacije"
            name: "additionalInfo"
            widget: "markdown"
            required: false
      - label: "Organizacijska ekipa"
        name: "organizationalTeam"
        format: "json"
        file: "content/majske-igre/organizational-team.json"
        create: true
        slug: "{{slug}}"
        fields:
          - label: "Predstavitveni opis"
            name: "intro"
            widget: "markdown"
          - label: "Slika"
            name: "coverImg"
            widget: "image"
          - label: "Člani ekipe"
            name: "members"
            widget: "list"
            fields:
              - label: "Ime in priimek"
                name: "name"
                widget: "string"
              - label: "Funkcija"
                name: "functionTitle"
                widget: "string"
              - label: "Email"
                name: "email"
                widget: "string"
              - label: "Telefon"
                name: "phone"
                widget: "string"
              - label: "Slika"
                name: "imageUrl"
                widget: "image"

      - label: "Info točka"
        name: "infoPoint"
        format: "json"
        file: "content/majske-igre/info-point.json"
        create: true
        slug: "{{slug}}"
        fields:
          - label: "Opis info točke"
            name: "description"
            widget: "markdown"
          - label: "Slika info točke"
            name: "imageUrl"
            widget: "image"
            required: false
          - label: "Odpiralni čas info točke"
            name: "openingHours"
            create: true
            widget: "list"
            fields:
              - label: "Datum"
                name: "date"
                widget: "datetime"
                date_format: true
              - label: "Odpiralni čas"
                name: "openingHour"
                widget: "string"
              - label: "Zapiralni čas"
                name: "closingHour"
                widget: "string"
              - label: "Dodatne informacije"
                name: "additionalInfo"
                widget: "markdown"
                required: false

      - label: "Sponzorji dogodka"
        name: "sponsors"
        format: "json"
        file: "content/majske-igre/sponsors.json"
        create: true
        slug: "{{slug}}"
        fields:
          - label: "Sponzorji opis"
            name: "description"
            widget: "markdown"
          - label: "Pokaži sponzorje"
            name: "showSponsors"
            widget: "boolean"
            default: false
          - label: "Sponzorji"
            name: "sponsors"
            widget: "list"
            fields:
              - label: "Ime sponzorja"
                name: "name"
                widget: "string"
              - label: "Slika"
                name: "imageUrl"
                widget: "image"
              - label: "Povezava"
                name: "link"
                widget: "string"
                required: false
              - label: "Tip sponzorja"
                name: "type"
                widget: "select"
                options: ["Generalni", "XL", "L", "M", "S"]
                default: "M"

  - name: "concerts"
    label: "Zabava"
    folder: "content/concerts"
    create: true
    fields:
      - label: "Ime dogodka"
        name: "title"
        widget: "string"
        required: true
      - label: "Lokacija"
        name: "location"
        widget: "string"
        required: true
      - label: "Datum dogodka"
        name: "date"
        widget: "datetime"
        date_format: true
        required: true
      - label: "Slika"
        name: "imageUrl"
        widget: "image"
        required: true
      - label: "Nastopajoči"
        name: "performers"
        widget: "markdown"
      - label: "Spotify playlista"
        name: "playlist"
        widget: "string"
        required: false
      - label: "Lokacija (zemljevid)"
        name: "geoLocation"
        widget: "map"
        required: false
  - name: "sportEvents"
    label: "Šport"
    folder: "content/sport-events"
    create: true
    fields:
      - label: "Ime discipline"
        name: "title"
        widget: "string"
        required: true
      - label: "Lokacija"
        name: "location"
        widget: "string"
        required: true
      - label: "Datum dogodka"
        name: "date"
        widget: "datetime"
        required: true
      - label: "Cena"
        name: "price"
        widget: "string"
        required: false
      - label: "Sestava ekipe"
        name: "teamFormation"
        widget: "string"
        required: false
      - label: "Prijava"
        name: "registerLink"
        widget: "string"
        required: false
      - label: "Opis"
        name: "description"
        widget: "markdown"
        required: false
      - label: "Slika"
        name: "imageUrl"
        widget: "image"
        required: false
      - label: "Lokacija (zemljevid)"
        name: "geoLocation"
        widget: "map"
        required: false

  - name: "cultureEvents"
    label: "Kultura"
    folder: "content/culture-events"
    create: true
    fields:
      - label: "Ime otočka"
        name: "title"
        widget: "string"
        required: true
      - label: "Datum dogodka"
        name: "date"
        widget: "datetime"
        required: true
      - label: "Slika"
        name: "imageUrl"
        widget: "image"
        required: false
      - label: "Dogodki"
        name: "events"
        widget: "list"
        required: false
        fields:
          - label: "Čas dogodka"
            name: "time"
            widget: "string"
            required: true
          - label: "Ime dogodka"
            name: "title"
            required: true
            widget: "string"
          - label: "Opis dogodka"
            name: "description"
            required: true
            widget: "markdown"
          - label: "Slika"
            name: "imageUrl"
            widget: "image"
            required: false
          - label: "Lokacija dogodka"
            name: "location"
            widget: "string"
            required: false
          - label: "Cena dogodka"
            name: "price"
            widget: "string"
            required: false
          - label: "Prijavni link"
            name: "registerLink"
            widget: "string"
            required: false
          - label: "Lokacija (zemljevid)"
            name: "geoLocation"
            widget: "map"
            required: false


  - name: "Slideshows"
    label: "Galerije"
    format: "json"
    folder: "content/slideshow"
    create: true
    fields:
      - name: title
        label: "Id galerije (določen s kodo - ne spreminjaj)"
        widget: string
      - name: images
        label: Slike
        widget: list
        required: false
        fields:
          - name: image
            label: Slika
            widget: image
            required: true